<div class="input-group">
    <input type="text" id="tablabitacora" name="tablabitacora" class="form-control text-end"
        style="border: none !important;" ng-model="tablabitacora" readonly>
    <span>&nbsp;registro(s)</span>
    <div class="table-responsive">
        <table class="table table-sm">
            <thead class="table-active">
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Hora Inicio</th>
                <th>Hora Fin</th>
                <th>Drenaje Inicial</th>
                <th>UF Total</th>
                <th>Tiempo Medio Permanencia</th>
                <th>Líquido Ingerido</th>
                <th>Cantidad Orina</th>
                <th>Glucosa</th>
                <th>Presión Arterial</th>
                <th>Fecha Creación</th>
                <th>Fecha Actualización</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="tbodyBitacora"></tbody>
        </table>
    </div>

    <div class="div-to-complete-screen"></div>