<div class="container-fluid">
    <div class="row mb-4 justify-content-center">
        <div class="col-md-4">
            <label for="selectMes" class="form-label">Seleccionar Mes:</label>
            <select id="selectMes" class="form-select" ng-model="mesSeleccionado" ng-change="buscarBitacora()">
                <option value="">Seleccione un mes</option>
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
                <option value="5">Mayo</option>
                <option value="6">Junio</option>
                <option value="7">Julio</option>
                <option value="8">Agosto</option>
                <option value="9">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="txtPacienteFiltro" class="form-label">Paciente:</label>
            <input type="text"
                   id="txtPacienteFiltro"
                   class="form-control"
                   placeholder="Nombre del paciente"
                   ng-model="pacienteFiltro"
                   ng-change="buscarBitacora()"
                   ng-disabled="!esAdmin">
        </div>
    </div>
    
    <div id="contenedorTarjetas" class="row justify-content-center">
        <!-- Las tarjetas se insertarán aquí dinámicamente -->
    </div>
</div>

<div class="div-to-complete-screen"></div>